.container{
    flex: 1;
    padding: 50px;
    /* height: 100%; */
    overflow: auto;
}
.nav{
    display: flex;
    align-items: center;
}
.nav h1{
    flex: 1;
}
.main{
    width: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
    padding: 16px;
}

.addTaskContainer {
    width: 100%;
    background-color: #9ab8ba;
    border-radius: 5px;
}

.addTaskContainer > button {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    padding: 5px 12px;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
}

.addTaskContainer > button:hover {
    background-color: #73d8df58;
}

.addTaskContainer form {
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 1em;
}

.addTaskContainer form span {
    display: inline-block;
    width: 200px;
}

.addTaskContainer form input {
    outline: none;
    border: none;
}

.addTaskContainer form input[type="submit"] {
    outline: none;
    border: none;
    background-color: #5f797b;
    font-weight: bold;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    align-self: flex-start;
}