/* .container{
    flex: 1;
    margin: auto;
    padding: 50px;
    width: 50%;
    overflow: auto;
} */

.container {
    margin: 100px auto;
    width: 50%;
}

.nav{
    display: flex;
    align-items: center;
}
.nav h1{
    flex: 1;
    padding: 24px;
}
.main{
    width: 100%;
    background-color: #FFFFFF;
    padding: 75px 40px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    /* box-shadow: 3px 10px 5px #9ab8ba; */
}

.addTaskContainer {
    width: 100%;
    background-color: #9ab8ba;
    border-radius: 5px;
}

.addTaskContainer > button {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    padding: 5px 12px;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
}

.addTaskContainer > button:hover {
    background-color: #73d8df58;
}

.addTaskContainer form {
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 1em;
}

.addTaskContainer form span {
    display: inline-block;
    width: 200px;
}

.addTaskContainer form input {
    outline: none;
    border: none;
}

.addTaskContainer form input[type="submit"] {
    outline: none;
    border: none;
    background-color: #5f797b;
    font-weight: bold;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    align-self: flex-start;
}